@import '../../parameters/colors';
@import '../../parameters/sizes';
.trv-comp-input-wrapper {
  
  .trv-comp-title-description {
    color: light-dark(map-get($general-colors, 'neutral-dark-1'), #fff);
  }

  .trv-comp-input-container {
    position: relative;
    display: flex;
    align-items: center;
    color: light-dark(map-get($general-colors, 'neutral-dark-1'), #fff);

    .trv-comp-input {
      flex-grow: 1;
      margin-top: 0.375rem;
      margin-bottom: 0.375rem;
      border-radius: 8px;
      padding: 14px;
      width: 100%;
      color: map-get($general-colors, 'neutral-dark-1');
      border: 2px solid map-get($general-colors, 'neutral-dark-1');
      background-color: map-get($general-colors, 'neutral-light-5');
      transition: border-color 0.3s ease, background-color 0.3s ease;

      font-size: 16px;
      font-weight: 400;
      line-height: 20.02px;
      text-align: left;

      &:hover {
        background-color: map-get($general-colors, 'neutral-light-4') !important;
      }

      &:focus {
        border-color: map-get($general-colors, 'neutral-dark-1') !important;
        background-color: map-get($general-colors, 'neutral-light-5') !important;
        outline: none;
      }

      &:disabled {
        background-color: map-get($general-colors, 'neutral-light-4') !important;
        border-color: map-get($general-colors, 'neutral-light-1') !important;
        color: map-get($general-colors, 'neutral-light-1') !important;
        cursor: not-allowed;
      }
    }

    .trv-comp-input-icon-container {
      display: flex;
      position: absolute;
      bottom: 9px;
      right: 0px;
      height: 46px;
      width: 48px;
      justify-content: space-evenly;
      align-items: center;
      cursor: pointer;
    }

    .trv-comp-input-icon {
      width: 20px;
      height: 33px;
      transition: fill 0.3s ease;
      fill: map-get($general-colors, 'neutral-dark-1');
      opacity: 1;

      &:hover {
        opacity: 0.5;
        transition: fill 0.7s ease, opacity 0.7s ease;
      }
    }
  }

  .trv-comp-help-text {
    padding-left: 0.4rem;
    width: 100%;
    color: light-dark(map-get($general-colors, 'neutral-dark-1'), #fff);
  }

  &.trv-comp-success {
    .trv-comp-title-description {
      color: map-get($general-colors, 'green-2-light-1') !important;
    }

    .trv-comp-input-container {
      .trv-comp-input {
        border-color: map-get($general-colors, 'green-2-light-1') !important;
      }

      .trv-comp-input-icon {
        fill: map-get($general-colors, 'green-2-light-1') !important;
      }
    }

    .trv-comp-help-text {
      color: map-get($general-colors, 'green-dark-1') !important;
      background-color: map-get($general-colors, 'green-2-light-5');
    }
  }

  &.trv-comp-warning {
    .trv-comp-title-description {
      color: map-get($general-colors, 'orange-dark-2') !important;
    }

    .trv-comp-input-container {
      .trv-comp-input {
        border-color: map-get($general-colors, 'orange-dark-2') !important;
      }

      .trv-comp-input-icon {
        fill: map-get($general-colors, 'orange-dark-2') !important;
      }
    }

    .trv-comp-help-text {
      color: map-get($general-colors, 'orange-dark-1') !important;
      background-color: map-get($general-colors, 'orange-light-3');
    }
  }

  &.trv-comp-error {
    .trv-comp-title-description {
      color: map-get($general-colors, 'semantic-dark-1') !important;
    }

    .trv-comp-input-container {
      .trv-comp-input {
        border-color: map-get($general-colors, 'semantic-dark-1') !important;
      }

      .trv-comp-input-icon {
        fill: map-get($general-colors, 'semantic-dark-1') !important;
      }
    }

    .trv-comp-help-text {
      color: map-get($general-colors, 'semantic-dark-1') !important;
      background-color: map-get($general-colors, 'semantic-light-4');
    }
  }

  &.trv-comp-is-disable {
    .trv-comp-title-description {
      color: map-get($general-colors, 'neutral-light-1') !important;
    }

    .trv-comp-input-container {
      .trv-comp-input {
        color: map-get($general-colors, 'neutral-light-4') !important;
        border-color: map-get($general-colors, 'neutral-light-1') !important;
        background-color: map-get($general-colors, 'neutral-light-4') !important;
        cursor: not-allowed;

        &::placeholder {
          color: map-get($general-colors, 'neutral-light-1') !important;
        }
      }

      .trv-comp-input-icon {
        fill: map-get($general-colors, 'neutral-light-1') !important;
      }
    }

    .trv-comp-help-text {
      color: map-get($general-colors, 'neutral-light-1') !important;
    }
  }

  &.trv-comp-not-editable {
    .trv-comp-input-container {
      .trv-comp-input {
        color: map-get($general-colors, 'neutral-light-3') !important;
        border-color: map-get($general-colors, 'neutral-dark-4') !important;
        background-color: map-get($general-colors, 'neutral-light-3') !important;

        &::placeholder {
          color: map-get($general-colors, 'neutral-dark-4') !important;
        }
      }

      .trv-comp-input-icon {
        fill: map-get($general-colors, 'neutral-dark-4') !important;
      }
    }

    .trv-comp-help-text {
      color: map-get($general-colors, 'neutral-dark-1') !important;
    }
  }
}
