$general-colors: (
  primary: #659125,
  secondary: #fc802a,
  terciary: #3e6a27,
  quaternary: #fc8029,
  disabled: #efefef,
  disabledSecond: #8f8f8f,
  primaryHover: #b9cc56,
  secondaryHover: #fb6903,
  principalDark: #292929,
  success-color: #28a745,
  error-color: #dc3545,
  warning-color: #ffc107,
);
