$general-colors: (
  // Primary colors
  primary: #659125,
  secondary: #fc802a,
  terciary: #3e6a27,
  quaternary: #fc8029,
  disabled: #efefef,
  disabledSecond: #8f8f8f,
  primaryHover: #b9cc56,
  secondaryHover: #fb6903,
  principalDark: #292929,
  success-color: #28a745,
  error-color: #dc3545,
  warning-color: #ffc107,

  //Grey colors
  primary-gray: #4d4d4d,
  secondary-light-grey: #F4F4F4,
 
  // Neutral colors
  neutral-light-1: #C2C2C2,
  neutral-light-2: #D6D6D6,
  neutral-light-3: #EFEFEF,
  neutral-light-4: #F7F7F7,
  neutral-light-5: #FDFDFD,
  neutral-dark-1: #292929,
  neutral-dark-3: #666666,
  neutral-dark-4: #8F8F8F,
  neutral-dark-2: #474747,
 
 // Orange colors
  orange-light-1: #FFBF95,
  orange-light-2: #FDD6B8,
  orange-light-3: #FAEFE8,
  orange-dark-1: #FB6903,
  orange-dark-2: #FC8029,
 
  // Yellow colors
  yellow-light-1: #FDDE96,
  yellow-light-2: #FDE9B8,
  yellow-light-3: #FEF4DD,
  yellow-dark: #FABD2C,
  secondary-light-yellow: #FFF1CE,
 
  // Semantic colors
  semantic-light-1: #DB7B76,
  semantic-light-2: #E7A7A4,
  semantic-light-3: #F3D3D1,
  semantic-light-4: #F8E7E6,
  semantic-dark-1: #B0352E,
  semantic-dark-2: #CF5048,
 
  // Green colors
  green-light-5: #E8F4E1,
  green-light-1: #A5C93D,
  green-light-2: #B9CC56,
  green-dark-1: #87A62E,
  green-light-3: #C9DF8A,
  green-light-4: #DBE9B1,
  green-2-light-1: #72B11C,
  green-2-light-2: #93DE2B,
  green-2-light-3: #AEE760,
  green-2-light-4: #C8EF95,
  green-2-light-5: #E8F4E1,
  green-2-dark-1: #3E6A27,
 
  // Gradients
  gradient-orange: linear-gradient(to right, #FA8035, #FFC956),
  gradient-green: linear-gradient(to right, #517C13, #89AE42, #8BAF43),
);