$button-sizes: (
  small: (
    width: auto,
    height: 2rem,
    padding: 0.2rem 1rem,
    fontSize: 0.6rem,
    smWidth: 40%,
  ),
  normal: (
    width: auto,
    height: 2.5rem,
    padding: 0.2rem 1rem,
    fontSize: 0.8rem,
    smWidth: 60%,
  ),
  large: (
    width: auto,
    height: 3rem,
    padding: 0.2rem 1rem,
    fontSize: 0.9rem,
    smWidth: 100%,
  ),
);

$font-sizes: (
  medium: 0.8rem,
);
