.file-uploader {
  width: 100%;
  border: 2px dashed #ccc;
  border-radius: 4px;
  padding: 20px 0;
  text-align: center;
  font-family: Arial, sans-serif;

  &__empty {
    cursor: pointer;

    span {
      display: block;
      margin-top: 10px;
      font-weight: bold;
      color: light-dark(#4a4a4a, #fff);
    }

    p {
      margin-top: 10px;
      font-size: 12px;
      color: light-dark(#777, #fff);
    }
  }

  &__files {
    &-header {
      display: flex;
      align-items: center;
      justify-content: center;
      margin-bottom: 10px;

      span {
        margin-left: 10px;
        font-weight: bold;
        color: #4a4a4a;
      }
    }

    p {
      margin-top: 10px;
      font-size: 12px;
      color: #777;
    }
  }

  &__file {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #f0f0f0;
    padding: 10px;
    margin-top: 10px;
    border-radius: 4px;
    color: light-dark(#000, #000);

    button {
      background: none;
      border: none;
      cursor: pointer;
      color: #ff0000;
      font-weight: bold;
    }
  }
}
