@import "../../parameters/colors";
@import "../../parameters/sizes";

.tvr-comp-custom-checkbox {
  display: inline-flex;
  align-items: center;
  cursor: pointer;
  user-select: none;
  font-family: map-get($general-colors, "orange-dark-1");
  font-size: map-get($font-sizes, "medium");

  input[type="checkbox"] {
    display: none;
  }

  .tvr-comp-checkbox-custom {
    width: 20px;
    height: 20px;
    border: 2px solid map-get($general-colors, "orange-dark-1");
    border-radius: 0.3rem;
    margin-right: 0.3rem;
    display: inline-block;
    position: relative;
    transition: all 0.3s ease;

    &::after {
      content: "";
      position: absolute;
      display: none;
      left: 6px;
      top: 2px;
      width: 5px;
      height: 10px;
      border: solid map-get($general-colors, "orange-dark-1");
      border-width: 0 2px 2px 0;
      transform: rotate(45deg);
    }
  }

  input[type="checkbox"]:checked + .tvr-comp-checkbox-custom {
    border-color: map-get($general-colors, "orange-dark-1");

    &::after {
      display: block;
    }
  }

  &:hover .tvr-comp-checkbox-custom {
    border-color: map-get($general-colors, "orange-dark-1");
  }

  &.disabled {
    cursor: not-allowed;
    opacity: 0.6;

    .tvr-comp-checkbox-custom {
      border-color: map-get($general-colors, "disabledSecond");
      background-color: map-get($general-colors, "disabledSecond");
    }

    input[type="checkbox"]:checked + .checkbox-custom {
      background-color: map-get($general-colors, "disabledSecond");
    }
  }
}

.tvr-comp-checkbox-label {
  color: map-get($general-colors, "orange-dark-1");
  margin-right: 1rem;
  font-weight: 500;
  font-size: 0.875rem;
}
