@import '../../parameters/colors';

.tvr-comp-table-container {
  width: 100%;
  overflow-x: auto;

  .tvr-comp-custom-table {
    width: 100%;
    border-collapse: collapse;

    th,
    td {
      border-top: 1px solid #ddd;
      border-bottom: 1px solid #ddd;
      padding: 1rem 0.5rem;
      text-align: left;

      @media (width < 60rem) {
        font-size: 0.8rem;
      }
    }

    tr {
      border-left: 1px solid #ddd;
      border-right: 1px solid #ddd;
    }

    th {
      font-size: 0.75rem;
      line-height: 1rem;
      font-weight: 700;
      color: light-dark(
        map-get($general-colors, 'neutral-gray-500'),
        map-get($general-colors, 'text-white-normal')
      );

      &.sortable {
        cursor: pointer;

        &:hover {
          background-color: #ddd;
          color: #000;
        }
      }
    }

    tr {
      font-weight: 600;
      font-size: 0.875rem;
      line-height: 1.25rem;
      letter-spacing: 0.5%;
      color: light-dark(
        map-get($general-colors, 'text-black-dark'),
        map-get($general-colors, 'text-white-normal')
      );
    }

    td {
      &.link-cell {
        a {
          color: map-get($general-colors, 'secondary-green-2-600');
          text-decoration: none;
          display: flex;
          align-items: center;

          &:hover {
            text-decoration: underline;
          }

          .link-icon {
            margin-left: 0.25rem;
            font-size: 0.75rem;
          }
        }
      }
    }

    .action-cell {

      button {
        padding: 0.25rem 0.5rem;
        font-size: 0.875rem;
        font-weight: 600;
        cursor: pointer;
        background-color: transparent;
        border: none;
        color: #2563EB;
      }
    }
  }
}

.tvr-comp-pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 2rem 0;
  font-weight: bold;

  button {
    margin: 0 5px;
    padding: 5px 10px;
    cursor: pointer;
    background-color: transparent;
    border: none;
    font-weight: bold;

    &.text {
      color: map-get($general-colors, 'orange-dark-1');
    }

    &:disabled {
      opacity: 0.5;
      cursor: not-allowed;
    }
  }
}

.tvr-comp-pagination-number {
  width: auto;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  input {
    width: 1rem;
    height: 1rem;
    background-color: transparent;
    border: 1px solid #ddd;
    padding: 0.4rem 0.3rem;
    border-radius: 0.5rem;
    font-size: 1rem;
    text-align: center;
    margin-right: 0.3rem;
  }
}
