@import '../../parameters/colors';

.tvr-comp-table {
  border: 1px solid
    light-dark(map-get($general-colors, neutral-table-border-color), map-get($general-colors, neutral-neutral-700));
  border-radius: 0.5rem;
  padding-bottom: 1rem;
  width: 100%;
  overflow: hidden;
}

.tvr-comp-table-container {
  width: 100%;
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
  scrollbar-width: thin;
  &::-webkit-scrollbar {
    height: 6px;
  }
  &::-webkit-scrollbar-thumb {
    background-color: light-dark(#cbd5e1, #4b5563);
    border-radius: .5rem;
  }
  border-bottom: 1px solid
    light-dark(map-get($general-colors, neutral-table-border-color), map-get($general-colors, neutral-neutral-700));

  .tvr-comp-custom-table {
    width: 100%;
    border-collapse: separate;
    border-spacing: 0;
    border: none;
    border-radius: 0.5rem;

    th,
    td {
      padding: 1rem 0.5rem;
      text-align: left;
      border-bottom: 1px solid light-dark(#e5e7eb, map-get($general-colors, neutral-neutral-800));

      &:first-child {
        padding-left: 1rem;
      }

      &:last-child {
        padding-right: 1rem;
      }

      @media (width < 60rem) {
        font-size: 0.8rem;
      }
    }

    th {
      background-color: light-dark(
        #f9fafb,
        map-get($general-colors, neutral-neutral-700)
      );
      font-size: 0.75rem;
      line-height: 1rem;
      font-weight: 600;
      color: light-dark(#6b7280, map-get($general-colors, text-white-light));
      text-transform: uppercase;

      &.sortable {
        cursor: pointer;

        &:hover {
          background-color: light-dark(
            #f3f4f6,
            map-get($general-colors, neutral-neutral-800)
          );
        }
      }
    }

    tr {
      &:last-child {
        td {
          border-bottom: none;
        }
      }

      &.selected {
        background-color: light-dark(
          #f3f4f6,
          map-get($general-colors, neutral-neutral-800)
        );
      }
    }

    td {
      font-weight: 400;
      font-size: 0.875rem;
      line-height: 1.25rem;
      color: light-dark(#111827, #f9fafb);

      &.link-cell {
        a {
          width: fit-content;
          font-weight: 600;
          color: map-get($general-colors, secondary-green-placeholder);
          border-bottom: 2px solid
            map-get($general-colors, secondary-green-placeholder);
          text-decoration: none;
          display: flex;
          align-items: center;

          .link-icon {
            margin-left: 0.25rem;
            font-size: 0.75rem;
          }
        }
      }
    }

    .action-cell {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 0.5rem;
      button {
        font-size: 0.875rem;
        font-weight: 600;
        cursor: pointer;
        background-color: transparent;
        border: none;
        color: map-get($general-colors, secondary-green-placeholder);
        border-bottom: 2px solid
          map-get($general-colors, secondary-green-placeholder);
      }
    }
  }
}

.tvr-comp-pagination {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 1rem;
  padding: 0 1rem;

  .tvr-comp-pagination-controls {
    display: flex;
    align-items: center;

    button {
      margin: 0 0.25rem;
      padding: 0.5rem;
      cursor: pointer;
      background-color: transparent;
      border: none;
      border-radius: 0.375rem;
      color: light-dark(
        map-get($general-colors, neutral-gray-500),
        map-get($general-colors, neutral-gray-100)
      );
      fill: light-dark(
        map-get($general-colors, neutral-gray-500),
        map-get($general-colors, neutral-gray-100)
      );

      &:disabled {
        opacity: 0.5;
        cursor: not-allowed;
      }
    }
  }

  .tvr-comp-pagination-number {
    display: flex;
    align-items: center;
    margin: 0 0.5rem;
    font-size: 0.875rem;
    color: light-dark(
      map-get($general-colors, neutral-gray-500),
      map-get($general-colors, neutral-gray-100)
    );

    &-current {
      width: 2.375rem;
      height: 2.375rem;
      background-color: map-get($general-colors, primary-orange-500);
      color: map-get($general-colors, text-white-light);
      border-radius: 0.5rem;
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 1rem;
      font-weight: 600;
    }

    &-divider,
    &-total {
      margin: 0 0.5rem;
      font-size: 1rem;
      font-weight: 600;
    }
  }

  .tvr-comp-pagination-input {
    display: flex;
    align-items: center;
    font-size: 0.875rem;
    color: light-dark(
      map-get($general-colors, neutral-gray-500),
      map-get($general-colors, neutral-gray-100)
    );

    input {
      width: 3rem;
      height: 2rem;
      margin: 0 0.5rem;
      padding: 0 0.5rem;
      border: 1px solid light-dark(#e5e7eb, map-get($general-colors, neutral-neutral-800));
      border-radius: 0.25rem;
      text-align: start;
      font-size: 0.875rem;
      background-color: transparent;
      color: inherit;
    }

    span {
      margin: 0 0.5rem;
    }
  }
}

input[type='checkbox'],
input[type='radio'] {
  width: 1rem;
  height: 1rem;
  margin-right: 0.5rem;
  cursor: pointer;
}
