@import "../../parameters/colors";
@import "../../parameters/sizes";

.accordion {
  & > div:not(:first-of-type) {
    margin-top: 0.25em;
  }

  &-header {
    height: 2.75em;
    padding: 0em 0.625em 0.625em 0.625em;
    cursor: pointer;

    &-recipient {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      padding: 0.75em 0.625em;
      height: auto;
    }

    a {
      text-decoration: none;
    }
  }

  &-tab {
    transition: all 0.35s;
    overflow: hidden;
    background-color: light-dark(
      map-get($general-colors, "neutral-light-5"),
      transparent
    );
    border-bottom: 0.5px solid map-get($general-colors, "neutral-dark-4");

    &-active {
      svg {
        transform: rotate(180deg);
      }
    }

    &-active > .accordion-content {
      display: flex;
      padding: 0.75em;
    }

    svg {
      transition: 0.3s ease;
    }
  }

  &-content {
    display: none;
  }

  .content-orange {
    background-color: map-get($general-colors, " orange-light-3");
    border-left: 2px solid map-get($general-colors, "secondaryHover");

    p {
      color: #000;
    }
  }

  .content-green {
    background-color: map-get($general-colors, "green-light-5");
    border-left: 2px solid map-get($general-colors, "green-light-1");

    p {
      color: #000;
    }
  }

  .icon-color-orange {
    fill: map-get($general-colors, "secondaryHover");
  }
}
